[Unit]
Description=SuperUPS daemon
After=network.target

[Service]
Type=idle
Restart=always
ExecStart=/usr/bin/python3 -u /usr/local/bin/superupsdaemon.py
SyslogIdentifier=SuperUPS

[Install]
WantedBy=multi-user.target
